
# Created by https://www.gitignore.io/api/java,gradle
# Edit at https://www.gitignore.io/?templates=java,gradle


.idea/
.docker/
target/
project/
### Java ###
# Compiled class file
*.class


# Local configuration file (sdk path, etc)
local.properties

# Liquibase diff log

.yml
*.properties

# Log file
*.log
*.iml
*.ipr
*.iws

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/

### Other ###
.idea

# End of https://www.gitignore.io/api/java,gradle
